/* Global Styles */
body {
    background-color: rgb(192, 190, 187) !important;
    font-family: 'Times New Roman', Times, serif;
}

/* Header Styles */
h1, .subheading {
    font-family: 'Orbitron', sans-serif;
}

.subheading {
    font-size: 30px;
}

/* Banner Styles */
.custom-banner {
    background-color: #ffffff;
    padding: 0;
}

.container-fluid.bg-light img {
    max-width: 19%;
    height: auto;
}

/* Logo Styles */
.custom-logo {
    max-width: 100%;
}

/* Essay Styles */
.essay {
    font-size: 101%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 160%;
    margin-bottom: -12%;
}

.citations-container {
    padding-top: 0%;
    margin-top: 12%;
}

/* Video Styles */
.video-caption {
    font-size: small;
    background-color: #ccc; /* Grey bubble background */
    padding: 5px 10px; /* Add padding to create the bubble effect */
    border-radius: 10px; /* Add rounded corners */
    display: inline-block; /* Make the bubble fit the content */
}

.video-container {
    padding-bottom: -10%;
    padding-top: 0%;
}

/* Essay Caption Styles */
.essay-caption {
    font-size: small;
    width: 110%;
    margin-bottom: 5%;
    margin-top: -30%;
    background-color: #ccc; /* Grey bubble background */
    padding: 5px 10px; /* Add padding to create the bubble effect */
    border-radius: 10px; /* Add rounded corners */
    display: inline-block; /* Make the bubble fit the content */
}

/* Image Container Styles */
.image-container {
    margin-top: -65%;
    font-size: small;
    background-color: #ccc; /* Grey bubble background */
    padding: 5px; /* Add padding to create the bubble effect */
    border-radius: 10px; /* Add rounded corners */
}

/* Media Queries */
@media (max-width: 1266px) {
    .image-container {
        margin-top: -135%;
    }
}

@media (max-width: 768px) {
    .image-container {
        margin-top: 0%;
    }
}
