/* Global Styles */
body {
    background-color: rgb(192, 190, 187) !important;
    font-family: 'Times New Roman', Times, serif;
}

/* Header Styles */
h1, .subheading {
    font-family: 'Orbitron', sans-serif;
}

.subheading {
    font-size: 30px;
}

/* Banner Styles */
.custom-banner {
    background-color: #ffffff;
    padding: 0;
}

.container-fluid.bg-light img {
    max-width: 19%;
    height: auto;
}

/* Logo Styles */
.custom-logo {
    max-width: 100%;
}

/* Essay Styles */
.essay {
    font-size: 101%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 160%;
    margin-bottom: -12%;
}

.citations-container {
    width: 113%;
    padding-top: 2%;
    margin-top: 12%;
}

/* Video Styles */
.video-caption {
    font-size: small;
    background-color: #ccc; /* Grey bubble background */
    padding: 5px 10px; /* Add padding to create the bubble effect */
    border-radius: 10px; /* Add rounded corners */
    display: inline-block; /* Make the bubble fit the content */
}

.video-container {
    padding-bottom: -10%;
    padding-top: 0%;
}

/* Essay Caption Styles */
.essay-caption {
    font-size: small;
    width: 110%;
    margin-bottom: 5%;
    margin-top: -30%;
    background-color: #ccc; /* Grey bubble background */
    padding: 5px 10px; /* Add padding to create the bubble effect */
    border-radius: 10px; /* Add rounded corners */
    display: inline-block; /* Make the bubble fit the content */
}

/* Image Container Styles for the resized images */
.image-container img {
    margin-top: -36%;
    max-width: 118%; /* Adjust the image max-width as needed for larger size */
    height: auto; /* Maintain aspect ratio */
    background-color: #ccc; /* Grey bubble background */
    padding: 7px; /* Adjust padding to fit the larger size */
    border-radius: 8px; /* Add rounded corners */
    margin-left: -10%;
}

/* Image Caption Styles for the resized images */
.image-caption {
    background-color: #ccc; /* Grey bubble background for captions */
    padding: 10px; /* Adjust padding to fit the larger size */
    border-radius: 10px; /* Add rounded corners for captions */
    font-size: small;
    text-align: center;
    margin-left: -5%;
}

/* Media Queries */
@media (max-width: 1166px) {
    .image-container {
        margin-top: -75%;
    }
}

@media (max-width: 768px) {
    .image-container {
        margin-top: 59%;
    }

    .essay-caption {
        font-size: small;
        width: 110%;
        margin-bottom: 5%;
        margin-top: -30%;
        margin-left: -5%;
        background-color: #ccc; /* Grey bubble background */
        padding: 5px 10px; /* Add padding to create the bubble effect */
        border-radius: 10px; /* Add rounded corners */
        display: inline-block; /* Make the bubble fit the content */
    }
}
