/* styles.css */

/* Set body background color with !important to ensure it takes precedence */
body {
    background-color: rgb(192, 190, 187) !important;
    font-family: 'Times New Roman', Times, serif; 
}

/* Styles for the header section */
h1, .subheading {
    font-family: 'Orbitron', sans-serif;
}

/* Correct the selector for .subheading */
.subheading {
    font-size: 30px;
}

.custom-banner {
    background-color: #ffffff; /* Set the banner background color */
    padding: 0; /* Remove padding from the banner */
}

/* Decrease the size of the banner and the image */
.container-fluid.bg-light img {
    max-width: 19%; /* Adjust the max-width as needed */
    height: auto; /* Maintain the aspect ratio */
}

/* Custom styles for the logo */
.custom-logo {
    max-width: 100%; /* Ensure the logo scales with its container */
}

.essay {
    font-size: 101%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 160%;
    margin-bottom: -12%;
}

.citations-container {
    padding-top: 0%;
    margin-top: 7%;
    
}

.video-caption {
    font-size: small;
}

.essay-caption {
    font-size: small;
    width: 110%;
    margin-bottom: 5%;
    margin-top: -30%;
}

.image-container {
    margin-top: -65%;

}

/* Media query for small computers! */
@media (max-width: 1266px) {
    .image-container {
        margin-top: -135%;
    }  
}
/* Media query for mobile screens! */
@media (max-width: 768px) {
    .image-container {
        margin-top: 0%;
    }    
}
  


.video-container {

    padding-bottom: -10%;
    padding-top: 0%;
}